@media (max-width: 885px) { 
    .first {
        &__utp {
            display: block;
            &-skill {
                margin-top: 15px;
                max-width: 100%;
            }
        }
    }
}