html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: #4dc0fe top center;
  background: -webkit-gradient(linear, left top, right top, from(#4dc0fe), to(#378fd9));
  background: -o-linear-gradient(left, #4dc0fe 0%, #378fd9 100%);
  background: linear-gradient(to right, #4dc0fe 0%, #378fd9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc0fe', endColorstr='#378fd9', GradientType=1 );
  padding-top: 60px;
  padding-bottom: 145px;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__offer {
  max-width: 545px;
  color: #ffffff;
  margin: 0;
}

.header__title {
  font-size: 37px;
}

.header__title-word {
  font-size: 59px;
}

.header__paragraph {
  padding: 30px 0;
  font-size: 16px;
  line-height: 1.7em;
  max-width: 385px;
}

.header__button {
  width: 222px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  background-color: #ffd429;
  color: #2e2a1b;
}

.header__button:hover {
  background-color: #f5c400;
}

.header__button:active {
  -webkit-box-shadow: 1px 4px 16px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 1px 4px 16px 0px rgba(34, 60, 80, 0.2);
}

.first {
  padding-top: 100px;
  padding-bottom: 116px;
}

.first__title {
  font-size: 30px;
}

.first__utp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 68px;
}

.first__utp-skill {
  max-width: 320px;
  text-align: center;
}

.first__utp-skill .correct-image {
  margin-bottom: 10px;
}

.first__utp-skill .correct-image--second {
  margin-bottom: 3px;
}

.first__utp-skill--title {
  font-size: 19px;
  padding-top: 25px;
  padding-bottom: 18px;
}

.first__utp-skill--paragraph {
  font-size: 15px;
}

.second {
  padding: 100px 0;
  background-color: #ecf3f8;
}

.second__title {
  margin-bottom: 60px;
}

.second__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 340px;
}

.second__form-input {
  padding-left: 25px;
  margin-bottom: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  height: 45px;
}

.second__form-input::-webkit-input-placeholder {
  color: #bbbbbb;
}

.second__form-input::-moz-placeholder {
  color: #bbbbbb;
}

.second__form-input:-ms-input-placeholder {
  color: #bbbbbb;
}

.second__form-input::-ms-input-placeholder {
  color: #bbbbbb;
}

.second__form-input::placeholder {
  color: #bbbbbb;
}

.second__form-button {
  height: 56px;
  border: none;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  font-size: 15px;
  background-color: #ffd429;
  color: #2e2a1b;
}

.second__form-button:hover {
  background-color: #f5c400;
}

.second__form-button:active {
  -webkit-box-shadow: 1px 4px 16px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 1px 4px 16px 0px rgba(34, 60, 80, 0.2);
}

.footer {
  padding: 60px 0;
  background-color: #164d7a;
}

.footer__rights {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  .header .wrapper {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .header__image {
    display: none;
  }
  .header__paragraph {
    min-width: 100%;
  }
  .header__button {
    min-width: 100%;
  }
  .first__utp {
    display: block;
  }
  .first__utp-skill {
    max-width: 100%;
  }
  .first__utp-skill .correct-image {
    margin-bottom: 0;
  }
  .first__utp-skill .correct-image--second {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
